body {
    font-family: 'Montserrat', sans-serif; /* Fuente para enlaces de navegación */
}
.bg-gradient {
    background: linear-gradient(to right, #2487c0, rgb(168, 33, 209)); /* Degradado de dos colores */
}
.logo {
    height: 50px;
}
.navbar-transparent {
    background-color: transparent !important;
}
.nav-link {
    padding-left: 0px !important;
    padding-right: 40px !important; /* Eliminar padding izquierdo */
    color: aliceblue !important;

}
header{
    margin-bottom: 0px;
    padding-bottom: 0px !important;
}
.p-3 {
    padding-bottom: 0 !important; /* Agregar padding-bottom 0 */
}
/* Estilos para tema oscuro */
body.dark-mode {
    background-color: #2E303E;
    color: #ececec;
}



.dark-mode .footer {
    background-color: #222222;
    color: #cccccc;
}
/* Estilos para el interruptor */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Estilos para el texto del interruptor */
.slider-text {
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-top: 3px;
}


.container {
    padding-left: 0px !important;
}

@media (max-width: 600px) {
    .navbar {
        padding-left: 0px !important;
    }
}
@media (max-width: 874px) {
    .switch {
        margin-right: 15px !important;
    }
}

@media (max-width: 510px) {
    .switch {
        margin-right:2px !important;
    }
}



mark.highlight {
    background-color: rgba(83, 221, 20, 0.705); /* Fondo amarillo para resaltar */
    color: rgb(0, 0, 0); /* Texto en rojo */
}

.red-link a {
    color: rgb(0, 0, 0);
    font-size: 14px;

}
.red-link a:hover {
    color: rgb(50, 83, 228);
    text-decoration: none;
}




.dark-mode .vertical-line .red-link a {
    color: #ececec !important;
}

.dark-mode .vertical-line .red-link a:hover {
    color: rgb(50, 83, 228) !important;
}


.red-link li {

    margin-bottom: 11px;
}


.dark-mode .red-link li a{

    color: #ececec !important;

}
.dark-mode .red-link li a:hover{

    color: rgb(50, 83, 228) !important;

}



.vertical-line {
    position: relative;
    padding-left: 15px;
}

.vertical-line::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 3px;
    background-color: rgb(59, 106, 194);
}

#Albert_Xicola i {
    color: rgb(26, 26, 26);
}
#Pau_Cañadillas i {
    color: rgb(26, 26, 26);
}
#Max_Thomas i {
    color: rgb(26, 26, 26);
}

.dark-mode #Albert_Xicola i {
    color: #ffffff;
}
.dark-mode #Pau_Cañadillas i {
    color: #ffffff;
}
.dark-mode #Max_Thomas i {
    color: #ffffff;
}